body{
background-color:pink;
}
  h1{
 color:purple;
}

h2{
  color:#FFFF;
}

para{
  color:#304FFE;
}

img{
  height:400px;
  width:400px;
  border-color:#7B1FA2;
  border-style:solid;
}

.menu{
  float:right;
  top:20px;
  right:30px;
}
